/* Import Google Font */
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* * : Universal Selector i.e matches any element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*border and padding will be included in the total width and height of the element, rather than added on top of them*/
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e3f2fd;
}

.container {
  display: flex;
  flex-wrap: wrap; /*control whether flex items should wrap or remain on a single line*/
  margin: 20px;
  justify-content: center;
}

.container .color {
  list-style: none; /*to remove the markers from an unordered or ordered list*/
  margin: 13px;
  padding: 7px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(52, 87, 220, 0.08);
  transition: transform 0.15s ease;
}

/*  pseudo-class is used to select and style an element that is currently being activated by the user */
.container .color:active {
  transform: scale(0.95);
}

.refresh-btn:hover {
    transition: 0.15s ease;
    background-color: #8916ee;
}

.color .rect-box {
  width: 185px;
  height: 185px;
  background-color: #8a6cff;
}

.color:hover .rect-box {
  filter: brightness(106%);
}

.color .hex-value {
  display: block;
  color: #444;
  margin: 12px 0 8px;
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: uppercase;
}

.refresh-btn {
  position: fixed;
  /* centered horizontally, used with position property  */
  left: 50%;
  /* properly center horizontally */
  transform: translateX(-50%);
  /* used to center elements within a container */

  bottom: 40px;
  outline: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  padding: 12px 20px;
  background-color: #9c47e6;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 0 15px 25px rgba(52, 87, 220, 0.2);
}
