@import "https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css";

html {
  scroll-behavior: smooth;
}

.is-rounded {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.is-rounded .image {
  width: 100%;
  height: auto;
}

.code-block {
  background: #272525;
  color: #e9e9e0;
  border-radius: 16px;
  padding: 0.5em;
  font-family: monospace;
  font-size: 1rem;;
  overflow-x: auto;
  white-space: pre-wrap;
  margin-bottom: 0.5em;
}

.code-block, pre {
  border-radius: 16px;
}

.features-icon {
  color: #40C38A;
  margin-bottom: 0.5em;
}

.features-item {
  text-align: center;
}

